.header {
  background-color: #28a745;
  width: 100%;
  max-width: none;
  height: 90px;
  top: 0;
  box-shadow: 0px 2px 10px 0px black;
}

.logo {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
